
   <div flex="100" layout="row" layout-align="center start" layout-wrap="layout-wrap" >
    <div flex="100" layout="row" layout-align="center center" layout-wrap="layout-wrap" class="welcome_head">
      <div flex="100" flex-gt-sm="none" layout="row" layout-align="center center" class="welcome_title">
        <h2 flex="none" class="nom blood">Welcome</h2>
      </div>
     
      <div flex="none" layout="row" layout-align="center"  class="welcome_text">
        <p> The world is changing faster than ever and every day new amazing ways to reach people become available to us developers. So we formed BS&T to help people bring their passions into the digital age. No matter what sector your business runs in or what experimental performance art you've been working on - technology can be brought to bear to add the 'Oh Shit, thats cool!' to the situation.</p>
      </div>
    </div>
    <div flex="100" layout="row" layout-wrap layout-align="space-around">
      <div flex="100" flex-gt-sm="45" layout="row"  layout-align="center center" ng-repeat="nav in $ctrl.navOpts" ng-click="nav.link()">
      <h1 class="racing"> {{nav.text}} </h1> 
      </div>
    </div>
  </div>
