<div class="container-fluid row">
  <div class="col-12">
    <h1 class="mx-auto text-center" style="width:80%">New York Times Bestseller List</h1>
  </div>
  <div class="col-12 row d-flex justify-content-center">
      <div class="col-12  col-lg-8 col-md-10">
       <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
           <i class="material-icons"> search </i>
         </span>
          <input type="text" class="form-control" placeholder="Search Lists" aria-label="Search" ng-model="search.display_name">
        </div>
      </div>
     <ul class="list-group col-12 col-lg-8 col-md-10">
       <li class="list-group-item" ng-repeat="list in $ctrl.listOpts.results | filter:search" ui-sref="app.list({id: list.list_name_encoded})">
          <h4>  {{list.display_name}} </h4>
       </li>
     </ul>
    
  </div>

  
</div>